<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean标签默认通过默认构造方法创建对象，但是对象的能力很有限 -->
    <bean id="defaultAppleConstruct" class="com.ulsum.ioc.entity.Apple">
    </bean>

</beans>
